<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value=".packages"/>
    </config>
    <packageRestore>
        <add key="enabled" value="true"/>
        <add key="automatic" value="false"/>
    </packageRestore>
    <packageSources>
        <clear/>
        <add key="OneFeed" value="https://packages.public.utmonline.net/nuget/OneFeedNuget/v3/index.json" />
    </packageSources>
</configuration>