# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: src/global.json
    - name: Restore dependencies
      run: dotnet restore src/UTMO.Text.FileGenerator.slnx
    - name: Build
      run: dotnet build src/UTMO.Text.FileGenerator.slnx --no-restore
    - name: Test
      run: dotnet test src/UTMO.Text.FileGenerator.slnx --no-build --verbosity normal
    - name: Publish
      run: dotnet publish src/UTMO.Text.FileGenerator.slnx --configuration Release --no-build --output ./publish
    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: published-app
        path: '${{ github.workspace }}/src/UTMO.Text.FileGenerator/publish'
